<h3>Product Create</h3>
<form #form="ngForm" (ngSubmit)="saveProduct(form)">
    <div class="alert alert-danger" *ngIf="error">
        {{ error }}
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input required minlength="5" [(ngModel)]="model.name" #name="ngModel" type="text" name="name" id="name" class="form-control">
        <div class="text-danger mt-1" *ngIf="name.invalid && name.touched ">
            Ürün ismi en az 5 karakter olmalıdır.
        </div>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">price</label>
        <input [(ngModel)]="model.price" required type="number" name="price" min="0" max="100000" id="price" #price="ngModel" class="form-control">
        <div class="text-danger mt-1" *ngIf="price.invalid && price.touched ">
            Ürün fiyatı için negatif değer girilemez.
        </div>
    </div>
    <div class="mb-3">
        <label for="imageUrl" class="form-label">imageUrl</label>
        <input [(ngModel)]="model.imageUrl" type="text" name="imageUrl" id="imageUrl" class="form-control">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <ckeditor [(ngModel)]="model.description" [(ngModel)]="editorText" [editor]="Editor" name="description" id="description"></ckeditor>
    </div>
    <div class="form-check mb-3">
        <input [(ngModel)]="model.isActive" class="form-check-input" type="checkbox" name="isActive" id="isActive">
        <label class="form-check-label" for="flexCheckDefault">
            isActive
        </label>
    </div>
    <div class="mb-3">
        <label for="categoryId" class="form-label">category</label>
        <select [(ngModel)]="model.categoryId" name="categoryId" id="categoryId" class="form-select">
            <option value="0">Kategori</option>
            <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save Product</button>
</form>